{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/nav.html' %}

    {% if signup == True %}

    <div class="container" id ="signup">
        <h2>Sign up and become part of the LyfeHax community!</h2>
        {% include 'components/flash_messages/flash_messages.html' %}
        {% include 'components/forms/authentication.html' %}
    </div>

    {% else %}

    <div class="container">
        <h2>Login to your account here</h2>
        {% include 'components/flash_messages/flash_messages.html' %}
        {% include 'components/forms/authentication.html' %}
    </div>

    {% endif %}
{% endblock %}