<form class="col" method="POST" action="{{ url_for('signup') }}">
    <div class="card-panel">
        <!-- username -->
        <div class="row">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-user-plus"></i></span>
                <input placeholder="Username" name=username type="text" class="form-control validate" aria-label="authform username input area"
                    aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>
        <!-- password -->
        <div class="row">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-user-lock"></i></i></span>
                <input placeholder="Password" name=password type="text" class="form-control validate" aria-label="authform password input area"
                    aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>
        <!-- register -->
        <div class="row">
            <button type="submit" class="btn">
                <i class="fas fa-sign-in-alt"></i> Become a member!
            </button>
        </div>
    </div>
</form>





































</form>