<form class="col" method="POST" action="{{ url_for('signup') }}">
    <!-- username -->
    <div class="row">
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-user-plus"></i></span>
            <input pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Username" name="username" type="text"
                class="form-control validate" aria-label="existing_user username input area"
                aria-describedby="signup_form-password-input-area" required>
        </div>
    </div>
    <!-- password -->
    <div class="row">
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-user-lock"></i></i></span>
            <input pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Password" name="user_password" type="text"
                class="form-control validate" aria-label="signup_form password input area"
                aria-describedby="signup_form-password-input-area" required>
        </div>
    </div>
    <!-- repeat password -->
    <div class="row">
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-redo"></i></i></span>
            <input pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Repeat Password" name="user_password1" type="text"
                class="form-control validate" aria-label="signup_form repeat password input area"
                aria-describedby="signup_form-repeat-password-input-area" required>
        </div>
        <small class="form-text form-help">
            Please only use letters and numbers for your Username and Password
        </small>
    </div>
    <!-- register -->
    <div class="row">
        <button type="submit" class="btn">
            Submit <i id="submit-btn" class="fas fa-sign-in-alt"></i>
        </button>
    </div>
</form>





































</form>