{% extends "layout/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 card">
        <h2 class="text-center"> Add Hax <i class="fas fa-mouse"></i></h2>
        <form method="POST" action="">
            <div class="form-group">
                <label for="hax_heading">
                    <h4><i class="fas fa-book"></i> Title</h4>
                </label>
                <textarea class="form-control" name="hax_heading" id="hax_heading" minlength="5" maxlength="50"
                    placeholder="Between 5 and 50 characters" required></textarea>
            </div>
            <br>
            <div class="form-group">
                <label for="hax_category" name="hax_category">
                    <p><i class="fas fa-folder"></i> Category</p>
                </label>
                <select class="form-control" id="hax_category" required>

                    <option readonly>Please select</option>
                    <option>Home</option>
                    <option>Work</option>
                    <option>Travel</option>
                    <option>Garden</option>
                    <option>Parenting</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="hax_text_body">
                    <p><i class="fas fa-pencil-alt"></i> Main Body</p>
                </label>
                <textarea class="form-control mb-4" name="hax_text_body" id="hax_text_body"
                    placeholder="Between 30 and 300 characters" rows="5" minlength="30" maxlength="300"
                    required></textarea>
            </div>
        </form>
    </div>
</div>

{% endblock %}