{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/nav.html' %}

{% if signup == True %}

<div class="container" id="signup">
    <h1>Join the community and become a LyfeHaxer!</h1>
    {% include 'components/flash_messages/flash_messages.html' %}
    {% include 'components/forms/authentication.html' %}
</div>

{% else %}

<div class="container" id="login">
    <h1>Login to your account here</h1>
    {% include 'components/flash_messages/flash_messages.html' %}
    {% include 'components/forms/authentication.html' %}
</div>

{% endif %}
{% endblock %}