{% extends 'layout/base.html' %}
{% block content %}

{% for hack in hax %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-dark">
          <h1 class="card-title">{{ hack.hax_title }}</h1>
          <h3 class="card-subtitle mb-2">{{ hack.category_name }}</h3>
          <p class="card-text">{{ hack.hax_text_body }}</p>
          <p class="card-text"><em>{{ hack.posted_by }}</em></p>
          <p class="card-text"><em>{{ hack.post_date }}</em></p>
          {% if session.user|lower == hack.posted_by|lower %}
          <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          <a href="{{ url_for('edit_hack', hax_id=hack._id) }}" class="btn btn-sm btn-primary">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete this post?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{{ url_for('delete_hack', hax_id=hack._id) }}" class="btn btn-sm btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}