{% extends 'layout/base.html' %}
{% block content %}

{% for hack in hax %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-dark">
          <h1 class="card-title">{{ hack.hax_title }}</h1>
          <h3 class="card-subtitle mb-2">{{ hack.category_name }}</h3>
          <p class="card-text">{{ hack.hax_text_body }}</p>
          <p class="card-text"><em>{{ hack.posted_by }}</em></p>
          <p class="card-text"><em>{{ hack.post_date }}</em></p>
          {% if session.user|lower == hack.posted_by|lower %}
          <a href="" class="btn btn-sm">Done</a>
          <a href="{{ url_for('edit_hack', hax_id=hack._id) }}" class="btn btn-sm">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}