{% extends 'layout/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Already a LyfeHaxer?</h1>
            <p>Log in!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 d-none d-sm-block">
            <img id="legoman-img" class="rounded-images" src="static/img/ken-suarez-4IxPVkFGJGI-unsplash.jpg" alt="Keyboard Legoman" style="height: 30rem;">
        </div>
        <div class="col-md-5 d-flex justify-content-center">
            {% include 'components/forms/authform.html' %}
        </div>
    </div>
</div>
{% endblock %}