<footer class="container">
    <div class="row" id="social-network-icons">
      <div class="col-3">
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
      </div>
      <div class="col-3">
        <a href="https://www.twitter.com" target="_blank">
          <i class="fab fa-twitter-square"></i></a>
      </div>
      <div class="col-3">
        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="col-3">
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
</footer>