@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap');

body {
    font-family: 'Urbanist',sans-serif;
    background-color: #222222;
    color: #ccc;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

p a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4 {
    margin-top: 1rem;
}

h1,h2 {
    font-weight: 600;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.75rem;
}

h3,
h4 {
    font-weight: 500;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2.25rem;
}

a {
    color: #222222;
}

a:focus,
a:hover {
    color: #ff0000;
    transition: 100ms;
}

i {
    color: #111;
    font-size: 3rem;
}

img {
    max-height: 30rem;
    max-width: 40rem;
}

.carousel-item img {
    max-width: 100%;
}

.row {
    margin: 2rem auto;
}
.navbar-brand {
    font-size: 3rem;
    margin-left: 1rem;
}

.navbar {
    background-color: #222222;
    border: 1px solid #ccc;
}

.nav-item {
    text-align: right;
    margin-right: 1rem;
}

.form-control {
    color: #111;
}

.form-help {
    font-size: 1rem;
}

.btn {
    color: #000;
    font-size: 1.5rem;
    background-color: #ddd;
}

.hero-images {
    margin-top: 2rem;
    --bs-gutter-x: 0;
}

.carousel-item {
    transition: transform 2s ease-in-out;
}
.rounded-images {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

.col-6 img {
    height: 35rem;
    width: 100%;
}

#legoman-img{
    margin-top: -2rem;
}

#contact-form{
    margin-top: 1.5rem;
}

#social-network-icons {
    text-align: center;
    margin-top: 7rem;
}

#submit-btn {
    font-size: 1.5rem;
}

#flash-message h3 {
    background-color: #006e14;
    padding: 2rem;
    border-radius: 0.5rem;
}