@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

body {
    font-size: 1.5rem;
    font-family: 'Urbanist',sans-serif;
    font-weight: 500;
    background-color: #222222;
    color: #ccc;
}

p {
    margin: 2rem 0;
}

p a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 2rem;
}

a {
    color: #222222;
}

a:focus,
a:hover {
    color: #ff0000;
    transition: 100ms;
}

i {
    color: #111;
    font-size: 3rem;
}

img {
    max-height: 32rem;
}

.row {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.navbar-brand {
    font-size: 3rem;
}

.navbar {
    background-color: #222222;
    border: 1px solid #ccc;
}

.form-control {
    color: #111;
}

.form-help {
    font-size: 1rem;
}

.btn {
    color: #000;
    font-size: 1.5rem;
    background-color: #ddd;
}

.hero-images {
    margin-top: 2rem;
    --bs-gutter-x: 0;
}

.carousel-item {
    transition: transform 2s ease-in-out;
}
.rounded-images {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

.col-6 img {
    height: 35rem;
    width: 100%;
}

#legoman-img{
    margin-top: -2rem;
}

#contact-form{
    margin-top: 1.5rem;
}

#social-network-icons {
    text-align: center;
    margin-top: 7rem;
}