{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}
<div class="container-fluid">
    <div class="row hero-images">
        <div class="col-6">
        <img src="static/img/cesar-carlevarino-aragon-NL_DF0Klepc-unsplash.jpg" alt="Tool Collection">
        </div>
        <div class="col-6">
            <img src="static/img/jasmin-schreiber-JE4iHJE-knI-unsplash.jpg" alt="Arts and Crafts">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>About Us</h1>
            <p>This site is the place where users can post and learn amazing tips and tricks
                to get them through life. All of these hacks are DIY and should at a touch of 
                flair to your problem solving. Aiming to put a communities collective heads
                together to fix problems is our primary goal with this site.
            </p>
        </div>
    </div>
</div>
{% endblock %}