{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}
<div class="container-fluid">
    <div class="row hero-images">
        <div class="col-6">
        <img src="static/img/cesar-carlevarino-aragon-NL_DF0Klepc-unsplash.jpg" alt="Tool Collection">
        </div>
        <div class="col-6">
            <img src="static/img/jasmin-schreiber-JE4iHJE-knI-unsplash.jpg" alt="Arts and Crafts">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>About Us</h1>
            <p>This site is the place where users can post and learn amazing tips and tricks
                to get them through life. All of these hacks are DIY and should at a touch of 
                flair to your problem solving. Aiming to put a communities collective heads
                together to fix problems is our primary goal with this site.
            </p>
        </div>
        <div class="col-6">
            <img class="rounded-images" src="static/img/carl-heyerdahl-KE0nC8-58MQ-unsplash.jpg" alt="Mac Workspace" style="height: 30rem;">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="rounded-images" src="static/img/patrick-perkins-ETRPjvb0KM0-unsplash.jpg" alt="Postit Notes" style="height: 30rem;">
        </div>
        <div class="col-6 ms-auto">
            <h2>What is Considered a Lifehack?</h2>
            <p>
                A lifehack by definition is "a strategy or technique adopted 
                in order to manage one's time and daily activities in a more 
                efficient way." They are tips and tricks, either old tried and
                tested strategies or new inventive methods, intended to free up
                your valuable time for other more important things in life!
            </p>
        </div>
    </div>
</div>
{% endblock %}