{% extends "base.html" %}
{% set active_page = "member" %}
{% block content %}
<div class="container-fluid">
    <div class="row hero-images">
        <div class="col-6">
        <img src="static/img/cesar-carlevarino-aragon-NL_DF0Klepc-unsplash.jpg" alt="Tool Collection">
        </div>
        <div class="col-6">
            <img src="static/img/jasmin-schreiber-JE4iHJE-knI-unsplash.jpg" alt="Arts and Crafts">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Become a Member</h1>
        </div>
    </div>
</div>
{% endblock %}